@import "/src/var.css";

.header {
  margin: 5px;
  font-size: 1.8em;
  background: var(--background-color);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr 4fr;
  grid-template-rows: 1fr;
  box-sizing: border-box;
  padding: 5px;
  z-index: 1;
}

.home,
.left,
.center,
.right {
  display: flex;
  flex-direction: row;
}

.home,
.left {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

@media (max-width: 576px) {
  .header {
    font-size: 2em;
  }

  .header div > div {
    padding: 1px 10px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 992px) {
}

@media (max-width: 1200px) {
}
