@import "/src/var.css";

.menuList {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);
  border-radius: 20px;
  margin: 5px;
  box-sizing: border-box;
  z-index: 1;
  transition: all 3s linear;
  overflow-y: scroll;
}

@media (max-width: 576px) {
  .menuList {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 992px) {
}

@media (max-width: 1200px) {
}
