@import "/src/var.css";

.menuItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.2em;
  color: var(--btn-text-color);
  margin: 10px;
  padding: 10px;
  width: 95%;
  height: 100px;
  background: var(--square-btn-back-color);
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.55),
    inset 0 2px 0 rgba(255, 255, 255, 0.6), 0 2px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}

.menuItem:hover {
  color: var(--metallic-color);
  background: var(--square-btn-back-color-active);
}

.icon {
  font-size: 50px;
  color: var(--metallic-color);
}
