.cam {
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.canvas {
  position: absolute;
  display: block;
  width: 99%;
  max-height: 89%;
  border-radius: 20px;
}
