@import "/src/var.css";

.areaMenu {
  display: none;
  width: 150px;
  height: 80px;
  margin: 10px 0;
  text-decoration: none;
  text-shadow: 0 2px #000;
  border-radius: 50px 0 0 50px;
  transition: all 0.3s ease-out;
  color: #fff;
  border: 1px solid var(--btn-border-color);
  background-color: var(--btn-back-color);
  box-shadow: inset 0px 0px 16px black;
}

.areaMenu:hover {
  cursor: pointer;
}

@media (max-width: 576px) {
  .areaMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 992px) {
}

@media (max-width: 1200px) {
}
