@import "/src/var.css";

.septic {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);
  border-radius: 20px;
  color: var(--metallic-color);
  margin: 5px;
  z-index: 2;
}

.septicPower {
  width: 80px;
  height: 80px;
  background: var(--btn-back-color);
  border: 1px solid var(--btn-border-color);
  border-radius: 10px;
}

@media (max-height: 576px) {
}

@media (max-height: 768px) {
}

@media (max-width: 992px) {
}

@media (max-width: 1200px) {
}
