:root {
  --btn-back-color: #333333;
  --btn-back-color-active: #505050;
  --btn-text-color: #909090;
  --btn-text-color-active: #ffffff;
  --btn-border-color: #535353;
  --btn-border-color-active: #8b8b8b;
}
