:root {
  /* --btn-back-color: linear-gradient(
    0deg,
    #111111 0%,
    #000000 50%,
    #3e3838 50%,
    #000000 100%
     ); */

  /* --btn-back-color-active: linear-gradient(
    0deg,
    #dfdfdf 0%,
    #f3f3f3 50%,
    #ffffff 50%,
    #ffffff 50%,
    #dadada 100%
  ); */

  /* --menu-item-btn-background-color: linear-gradient(
    90deg,
    #111111 0%,
    #000000 50%,
    #3e3838 50%,
    #3e3838 50%,
    #000000 100%
  ); */
/* 
  --menu-item-btn-background-color-active: linear-gradient(
    90deg,
    #dfdfdf 0%,
    #f3f3f3 50%,
    #ffffff 50%,
    #ffffff 50%,
    #dadada 100%
  ); */

  /* --btn-shadow:  0 3px 20px rgba(0, 0, 0, 0.55),
  inset 0 2px 0 rgba(38, 38, 38, 0.6), 0 2px 0 rgba(0, 0, 0, 0.1),
  inset 0 0 20px rgba(0, 0, 0, 0.1); */

  /* --menu-item-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.55),
  inset 0 2px 0 rgba(255, 255, 255, 0.6), 0 2px 0 rgba(0, 0, 0, 0.1),
  inset 0 0 20px rgba(0, 0, 0, 0.1); */

  --btn-text-color: #bbbbbb;
  --btn-text-color-active: #ffffff;
  --h1-text-color: var(--btn-text-color);
  /* --btn-border-color: #535353; */
  /* --btn-border-color-active: #8b8b8b; */
  /* --btn-border: 3px solid #000000; */
  /* --btn-border-radius: 10px; */

  --panel-background-color: rgb(18 18 18 / 90%);
  --panel-border: 3px solid #1f1f1f;
  --metallic-color: #5f7286;
}
